# Database
DATABASE_URL=Supabase 연동 링크

# Discord Bot
DISCORD_TOKEN=Discord Bot 토큰
JOB_PATCH_CHANNEL_ID=직업패치노트채널_ID
JOB_DESC_THREAD_ID=직업설명쓰레드_ID
JOB_ILLUST_THREAD_ID=직업일러스트쓰레드_ID
OWNER_NOTICE_CHANNEL_ID=서버장_공지채널_ID
STAFF_NOTICE_CHANNEL_ID=스태프_공지채널_ID

# Cloudflare
R2_BUCKET_NAME=
R2_PUBLIC_DOMAIN=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ACCOUNT_ID=

# Web API Security
WEB_API_KEY=
ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,GCP외부IP,GCP외부IP,https://fossile-forum.cloud
WEB_DOMAIN=https://fossile-wiki.cloud